<div class="character">
  <div class="char-wrapper">
    <img class="char-portrait" />
    <div class="char-characteristics">
      <div class="char-heading">
        <div class="char-title-wrapper">
          <div class="char-name"></div>
          <div class="char-title"></div>
          <div class="char-rarity"></div>
        </div>
        <div class="char-vision"></div>
      </div>
      <div class="char-info">
        <div class="char-identity-wrapper">
          <div class="char-nation"></div>
          <div class="char-gender"></div>
        </div>
        <div class="char-weapon-wrapper">
          <div class="char-preferred">Preferred<br />weapon:</div>
          <div class="char-weapon"></div>
        </div>
        <div class="char-const-wrapper">
          <div class="char-const"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="char-description"></div>
</div>
