@use "styles/variables.scss" as vars;

.home-princess {
  display: block;
  position: absolute;
  bottom: 92px;
  right: -200px;
  width: 720px;

  @media screen and (max-width: vars.$vertical-width) {
    display: none;
  }

  @media screen and (min-width: vars.$split-width) {
    right: 0;
  }
}
