@use "styles/variables.scss" as vars;
@use "styles/mixins.scss" as mx;

.pol-waifu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  justify-self: center;
  background-color: lightgray;
  margin-block: 0.5rem;
  border-radius: 4rem;
  padding: 0.5rem;

  @media screen and (min-width: vars.$split-width) {
    width: 60%;
  }

  .pol-border {
    border-radius: 4rem;
    border: solid thick darkorange;
    padding: 1rem;

    .pol-header {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      align-items: center;
      flex-wrap: wrap;

      .pol-title {
        margin-inline: 2rem;
        color: black;
        font-weight: bold;
        font-size: xx-large;
        font-family: cursive;
        font-style: italic;
      }

      .pol-buttons {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        margin-left: auto;

        @media screen and (max-width: vars.$vertical-width) {
          margin-top: 1rem;
        }

        .pol-close {
          @include mx.button-interact();

          font-size: x-large;
          font-family: arial;
          font-weight: bolder;
          color: white;
          background-color: darkred;
          border-radius: 2rem;
          padding: 1rem;
          padding-block: 0.5rem;
          margin-right: 2rem;
          margin-left: 0.5rem;
          text-align: center;
        }

        .pol-retract {
          @include mx.button-interact();

          font-size: x-large;
          font-family: arial;
          font-weight: bolder;
          justify-self: flex-end;
          color: white;
          background-color: darkorange;
          border-radius: 2rem;
          padding: 1rem;
          padding-block: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }

    .pol-desc {
      margin: 1rem;
      margin-inline: 0;
      padding: 0.5rem;
      padding-inline: 1rem;
      background-color: gray;
      color: white;
      font-weight: 600;
      border-radius: 1rem;
      width: fit-content;
    }

    .pol-options {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 0.5rem;
      gap: 1rem;
    }
  }
}
