@use "styles/variables.scss" as vars;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  background-color: lightgrey;
  border-top: solid darkorange 5px;

  @media screen and (min-width: vars.$split-width) {
    justify-content: flex-end;
  }

  .motto {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;

    .stella {
      color: red;
    }
  }

  .badge {
    width: 150px;
    filter: drop-shadow(5px 5px 4px dimgrey);
  }
}
