@use "styles/variables.scss" as vars;
@use "styles/mixins.scss" as mx;

.pol-waifu-option {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 95%;
  background-color: white;
  margin-block: 1rem;
  margin-left: 2rem;
  border: solid darkorange;
  border-radius: 2rem;
  padding: 0.5rem;

  .pol-waifu-icon {
    position: absolute;
    object-fit: contain;
    width: 100px;
    height: 100px;
    transform: rotate3d(0, 1, 0, 180deg);
    top: 50%;
    left: 0;
    translate: -50% -50%;
    background-color: white;
    border-radius: 50%;
  }

  .pol-waifu-bar {
    position: relative;
    width: 100%;
    background-color: darkorange;
    height: fit-content;
    border-radius: 2rem;
    margin-right: 0.5rem;
    padding-block: 0.2rem;

    .pol-waifu-fill {
      display: flex;
      border-radius: 2rem;
      text-align: right;
      padding-right: 0.5rem;
      font-size: large;
      align-content: center;
      color: white;
      font-weight: bold;
      padding-left: 3rem;
      width: fit-content;
      transition: width 0.5s;

      .pol-waifu-info {
        align-self: flex-end;
        padding-block: 0.1rem;
        max-width: 30%;
      }
    }
  }

  .pol-waifu-name {
    position: absolute;
    font-size: 1.2rem;
    font-style: italic;
    font-family: georgia;
    margin-left: 3rem;
    color: white;
  }

  .pol-waifu-pick {
    @include mx.button-interact();

    font-size: x-large;
    font-family: arial;
    font-weight: bolder;
    justify-self: flex-end;
    color: white;
    background-color: darkred;
    border-radius: 2rem;
    padding: 1rem;
    padding-block: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
}
