.title {
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 1em;
    align-self: center;
    width: fit-content;
    background-color: orange;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.renderer {
    border: 5px solid gray;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    font-size: medium;
}
