$vertical-width: 560px;

.character {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    background-color: lightgray;
    border-radius: 2em;

    .char-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 3px solid orange;
        border-radius: 2em;
        padding: 1em;

        @media screen and (max-width: $vertical-width) {
            flex-direction: column;
        }

        .char-portrait {
            width: 50%;

            @media screen and (max-width: $vertical-width) {
                width: 80%;
                align-self: center;
            }
        }

        .char-heading {
            width: 50%;
            display: flex;
            flex-direction: row;

            .char-title-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .char-name {
                    font-size: xx-large;
                    font-weight: bolder;
                    margin-right: 0.5em;
                }

                .char-title {
                    border-radius: 0.5em;
                    font-style: italic;
                    font-weight: lighter;
                }
            }

            .char-vision {
                align-self: center;
                padding: 0.4em;
                font-size: xx-large;
                font-weight: bolder;
                border-radius: 0.5em;
                background-color: blueviolet;
                color: white;
            }
        }

        .char-rarity {
            margin-top: 0.4em;
            padding: 0.2em;
            border-radius: 0.4em;
            background-color: dimgray;
            width: 42%;
        }

        .char-info {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            border-radius: 1em;
            background-color: #afafaf;

            .char-identity-wrapper {
                display: flex;
                flex-direction: row;
                align-content: center;
                border-bottom: 5px solid orange;
                margin: 1em;
                padding: 0.5em;
                justify-content: space-evenly;

                .char-nation {
                    font-size: x-large;
                    font-weight: bold;
                    padding-right: 1em;
                }

                .char-gender {
                    font-size: large;
                    font-style: italic;
                    align-self: center;
                }
            }

            .char-weapon-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin: 1em;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                font-size: large;
                border-bottom: 5px solid orange;
                padding-bottom: 1em;

                .char-preferred {
                    font-size: medium;
                }

                .char-weapon {
                    margin-left: 0.5em;
                    font-weight: bold;
                }
            }

            .char-const-wrapper {
                display: flex;
                flex-direction: column;
                padding: 1em;
                font-size: large;

                .char-const {
                    font-weight: 600;
                    margin-bottom: 0.5em;
                }

                .char-const-name {
                    padding: 0.5em;
                    border-radius: 0.5em;
                    font-style: italic;
                    background-color: blueviolet;
                    color: white;
                    text-align: center;
                }
            }
        }
    }

    .char-description {
        margin-top: 2em;
        margin: 1em;
        padding: 1em;
        font-weight: bold;
    }
}

.error {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    background-color: red;
    border-radius: 1em;

    .err-title {
        font-size: xx-large;
        font-weight: bolder;
        color: white;
    }

    .err-message {
        margin-top: 1em;

        background-color: white;
        padding: 1em;
        border-radius: 0.5em;
        font-weight: 600;
        font-size: large;
    }
}