.pols-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}

.no-pols {
  font-size: xx-large;
  font-family: georgia;
  font-style: italic;
  font-weight: bolder;
  color: darkred;
  margin: 4rem;
}

.pol-waifu-disabled {
  color: #eee !important;
  background-color: #666 !important;
  cursor: auto;
  pointer-events: none;
}
