* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

$vertical-width: 720px;
$split-width: 1280px;

@import "styles/main.scss";
@import "styles/error.scss";
@import "styles/character.scss";
